/* ========================================================================
   Component: Responsive Fix
 ========================================================================== */
/* Desktops and laptops ----------- */
@media only screen and (max-width: 1200px) {
  .menu-trigger {
    right: 80px;
  }
  header .logo-container {
    left: 71px;
  }
  .processes .icon-container {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  .button {
    padding: 20px 45px;
    &.light {
      padding: 18px 40px;
    }
  }
  .case-study-left .overlay {
    padding-left: 100px;
  }
  .case-study-right .overlay {
    padding-right: 100px;
  }
  .button-container {
    margin-top: 15px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (max-width: 992px) {
  .menu-trigger {
    right: 65px;
  }
  header .logo-container {
    left: 55px;
  }
  .about-us img {
    margin-top: 50px;
  }
  .process-interactive {
    margin-bottom: 90px;
  }
}

/*Tablet Pottrait size to standerd 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .button {
    padding: 20px 24px;
    &.light {
      padding: 18px 24px;
    }
  }
  .we-are-hiring .upload-cv {
    margin-top: 135px;
  }
}

/* All Mobile Sizes (devices and browers) */
@media only screen and (max-width: 767px) {
  header .logo-container {
    left: 35px;
  }
  .call-button .button {
    float: none !important;
    margin-bottom: 20px;
  }
  .call-to-action {
    text-align: center;
    .button {
      float: none !important;
    }
  }
  .button-container {
    text-align: center;
  }
  .our-team .description {
    padding: 40px 10px;
    .member-skill {
      margin: 10px 0;
    }
  }
  .send-message .modal-lg {
    width: auto;
  }
}

@media only screen and (max-height: 600px) {
  .mobilenav li {
    font-size: 120%;
  }
  .portfolio .portfolio-item a .portfolio-overlay {
    padding: 200px 20px;
  }
}

/*Mobile Landscape Size to Tablet Portrait  (devices and browers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .menu-trigger {
    right: 45px;
  }
  .carousel-caption {
    top: 30%;
    h1 {
      font-size: 42px;
    }
  }
}

/* Mobile Portrait SIze to Mobbile Landsscape Size (devices and browers) */
@media only screen and (max-width: 479px) {
  h2 {
    text-align: center;
  }
  .line {
    margin-left: auto;
    margin-right: auto;
  }
  .menu-trigger {
    right: 20px;
    top: 20px;
  }
  header .logo-container {
    left: 29%;
    top: 33px;
  }
  .carousel-indicators li {
    width: 30px;
  }
  .carousel-caption {
    top: 30%;
    h1 {
      font-size: 36px;
    }
  }
  .button-container {
    margin-top: 25px;
  }
  .about-us .jumbo-text {
    font-size: 32px;
  }
  .processes {
    .process-bar.main-bg {
      margin-right: 40px;
    }
    .lines {
      width: 50px;
    }
    .icon-container {
      margin-right: 0;
    }
    .description {
      width: 85%;
    }
  }
  .promote {
    span {
      display: block;
      margin: 10px;
    }
    .button.light {
      margin-bottom: 20px;
    }
  }
  .footer li {
    margin: 0 5px 10px 0;
  }
}

@media only screen and (max-width: 360px) {
  header .logo-container {
    left: 20%;
  }
  .nav-label {
    width: auto;
  }
  .processes .process-bar {
    height: 100px;
    width: 100px;
    line-height: 100px;
  }
  .we-are-hiring .upload-cv {
    height: 260px;
    width: 260px;
    .inner {
      padding: 45px;
    }
  }
  .modal {
    .close {
      height: 30px;
      width: 30px;
      line-height: 30px;
    }
    .modal-body {
      padding: 40px 20px;
    }
  }
}
