/* ========================================================================
   Component: Typography
 ========================================================================== */
/*@font-face {
  font-family: 'Campton Bold';
  src: url('../fonts/campton/Campton-BoldDEMO.otf');
}


@font-face {
  font-family: 'Campton Light';
  src: url('../fonts/campton/Campton-LightDEMO.otf');
}*/


html {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 16px;
}

h2, h3, h4, h5, h6, .bold-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

h1, .light-text {
  font-family: 'Quicksand', sans-serif;
}

header p {
  font-size: 18px;
}

/* Icon Font
 ========================================================================== */
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticons/flaticon.eot");
  src: url("../fonts/flaticons/flaticon.eot") format("embedded-opentype"), url("../fonts/flaticons/flaticon.woff") format("woff"), url("../fonts/flaticons/flaticon.ttf") format("truetype"), url("../fonts/flaticons/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"]:before, [class*="icon-"]:before, [class^="icon-"]:after, [class*="icon-"]:after {
  display: inline-block;
  font: normal normal normal 14px/1 Flaticon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-user:before {
  content: "\e000";
}

.icon-discussion:before {
  content: "\e001";
}

.icon-check:before {
  content: "\e00c";
}

.icon-code:before {
  content: "\e002";
}

.icon-heart:before {
  content: "\e007";
}

.icon-idea:before {
  content: "\e003";
}

.icon-mobile:before {
  content: "\e004";
}

.icon-arrow-left:before {
  content: "\e007";
}

.icon-office:before {
  content: "\e009";
}

.icon-reload:before, .icon-arrow-right:before {
  content: "\e00a";
}

.icon-web-browser:before {
  content: "\e002";
}

.icon-grid:before {
  content: "\e005";
}

.icon-up:before {
  content: "\e00d";
}
