/* ========================================================================
  1.1 Component: GLOBAL
 ========================================================================== */
/* line 5, ../../../src/Asset/sass/theme/main.scss */
html {
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
}

/* line 11, ../../../src/Asset/sass/theme/main.scss */
body {
  height: 100%;
  overflow-x: hidden;
}

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
/* line 42, ../../../src/Asset/sass/theme/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 51, ../../../src/Asset/sass/theme/main.scss */
li {
  list-style: none;
}

/* line 55, ../../../src/Asset/sass/theme/main.scss */
audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

/* line 59, ../../../src/Asset/sass/theme/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 65, ../../../src/Asset/sass/theme/main.scss */
textarea {
  resize: vertical;
}

/* line 69, ../../../src/Asset/sass/theme/main.scss */
a:hover {
  text-decoration: none;
}

/* line 73, ../../../src/Asset/sass/theme/main.scss */
ul {
  padding: 0;
  margin: 0;
}

/* line 78, ../../../src/Asset/sass/theme/main.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
/* line 86, ../../../src/Asset/sass/theme/main.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 93, ../../../src/Asset/sass/theme/main.scss */
::-moz-selection, ::selection {
  background: #e74c3c;
  color: #fff;
  text-shadow: none;
}

/* ==========================================================================
   1.2 Helper classes
   ========================================================================== */
/*
 * 1. Orange.
 */
/*
 * 2. Green.
 */
/*
 * 3. Blue.
 */
/*
 * 4. Blue Nutshell
 */
/* line 115, ../../../src/Asset/sass/theme/main.scss */
.main-bg {
  background: #e74c3c;
}

/* line 119, ../../../src/Asset/sass/theme/main.scss */
.main-color {
  color: #e74c3c;
}

/* line 123, ../../../src/Asset/sass/theme/main.scss */
.white-color {
  color: #fff;
}

/* line 127, ../../../src/Asset/sass/theme/main.scss */
.button {
  padding: 20px 60px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  color: #fff;
  text-shadow: none;
  outline: none;
  border: 0;
}
/* line 137, ../../../src/Asset/sass/theme/main.scss */
.button:hover {
  cursor: pointer;
  color: #fff;
}
/* line 141, ../../../src/Asset/sass/theme/main.scss */
.button.light {
  padding: 19px 59px;
}

/* line 146, ../../../src/Asset/sass/theme/main.scss */
.line {
  width: 80px;
  height: 2px;
  margin-top: 15px;
}

/* line 152, ../../../src/Asset/sass/theme/main.scss */
.button.light {
  border: 2px solid #eeeeee;
}

/* line 156, ../../../src/Asset/sass/theme/main.scss */
.padding-large {
  padding-top: 90px;
  padding-bottom: 90px;
}

/* line 161, ../../../src/Asset/sass/theme/main.scss */
.padding-top-large {
  padding-top: 90px;
}

/* line 165, ../../../src/Asset/sass/theme/main.scss */
.margin-top-large {
  margin-top: 90px;
}

/* line 169, ../../../src/Asset/sass/theme/main.scss */
.margin-bottom-large {
  margin-bottom: 90px;
}

/* line 173, ../../../src/Asset/sass/theme/main.scss */
.margin-top-medium {
  margin-top: 40px;
}

/* line 177, ../../../src/Asset/sass/theme/main.scss */
.margin-bottom-medium {
  margin-bottom: 40px;
}

/* line 181, ../../../src/Asset/sass/theme/main.scss */
.margin-bottom-small {
  margin-bottom: 25px;
}

/* line 185, ../../../src/Asset/sass/theme/main.scss */
.margin-right-small {
  margin-right: 15px;
}

/* line 189, ../../../src/Asset/sass/theme/main.scss */
.margin-left-small {
  margin-left: 15px;
}

/* line 193, ../../../src/Asset/sass/theme/main.scss */
.mat-none {
  margin-top: 0;
}

/* line 197, ../../../src/Asset/sass/theme/main.scss */
.mab-none {
  margin-bottom: 0;
}

/* line 201, ../../../src/Asset/sass/theme/main.scss */
.mar-none {
  margin-right: 0;
}

/* line 205, ../../../src/Asset/sass/theme/main.scss */
.mal-none {
  margin-left: 0;
}

/* line 209, ../../../src/Asset/sass/theme/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 214, ../../../src/Asset/sass/theme/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 224, ../../../src/Asset/sass/theme/main.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 235, ../../../src/Asset/sass/theme/main.scss */
.invisible {
  visibility: hidden;
}

/* ========================================================================
 1.3 Component: Fullscreen menu
 ========================================================================== */
/* line 243, ../../../src/Asset/sass/theme/main.scss */
.top-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

/* line 251, ../../../src/Asset/sass/theme/main.scss */
.mid-animate {
  opacity: 0;
}

/* line 255, ../../../src/Asset/sass/theme/main.scss */
.bottom-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-225deg);
}

/* line 263, ../../../src/Asset/sass/theme/main.scss */
.top-menu, .mid-menu, .bottom-menu {
  width: 28px;
  height: 4px;
  border-radius: 10px;
  background-color: #fff;
}

/* line 270, ../../../src/Asset/sass/theme/main.scss */
.top-menu {
  top: 5px;
}

/* line 274, ../../../src/Asset/sass/theme/main.scss */
.mid-menu {
  top: 13px;
}

/* line 278, ../../../src/Asset/sass/theme/main.scss */
.bottom-menu {
  top: 21px;
}

/* line 282, ../../../src/Asset/sass/theme/main.scss */
.menui {
  background: #FFF;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  margin-top: 10px;
  position: absolute;
}

/* line 290, ../../../src/Asset/sass/theme/main.scss */
.menu-trigger {
  z-index: 999;
  position: fixed;
  display: block;
  padding: 9px;
  height: 32px;
  width: 32px;
  margin: 0px;
  top: 45px;
  right: 115px;
}

/* line 302, ../../../src/Asset/sass/theme/main.scss */
.mobilenav {
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(231, 76, 60, 0.9);
  text-transform: uppercase;
}
/* line 313, ../../../src/Asset/sass/theme/main.scss */
.mobilenav li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  font-size: 220%;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  width: 100%;
}
/* line 322, ../../../src/Asset/sass/theme/main.scss */
.mobilenav li:last-child span {
  border-bottom: none;
}
/* line 325, ../../../src/Asset/sass/theme/main.scss */
.mobilenav li:hover {
  cursor: pointer;
}

/* line 331, ../../../src/Asset/sass/theme/main.scss */
.nav-label {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  display: block;
  width: 350px;
  margin: 0 auto;
}

/* line 339, ../../../src/Asset/sass/theme/main.scss */
.mobilenav li:first-child {
  margin-top: 60px;
}

/* ========================================================================
 1.4 Hover animation by hover.css http://ianlunn.github.io/Hover/
 ========================================================================== */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
/* line 372, ../../../src/Asset/sass/theme/main.scss */
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
/* line 381, ../../../src/Asset/sass/theme/main.scss */
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Rectangle Out */
/* line 395, ../../../src/Asset/sass/theme/main.scss */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 409, ../../../src/Asset/sass/theme/main.scss */
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(231, 76, 60, 0.9);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 427, ../../../src/Asset/sass/theme/main.scss */
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
}
/* line 430, ../../../src/Asset/sass/theme/main.scss */
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Grow */
/* line 438, ../../../src/Asset/sass/theme/main.scss */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
/* line 451, ../../../src/Asset/sass/theme/main.scss */
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* General button style (reset) */
/* line 459, ../../../src/Asset/sass/theme/main.scss */
.portfolio-wrapper .button {
  padding: 20px 60px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 3px solid #fff;
  color: #fff;
  overflow: hidden;
}
/* line 473, ../../../src/Asset/sass/theme/main.scss */
.portfolio-wrapper .button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 3px solid #fff;
  color: #fff;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
/* line 493, ../../../src/Asset/sass/theme/main.scss */
.portfolio-wrapper .button:hover {
  color: #e74c3c;
}

/* line 498, ../../../src/Asset/sass/theme/main.scss */
.button:active {
  color: #e74c3c;
}

/* line 503, ../../../src/Asset/sass/theme/main.scss */
.portfolio-wrapper .button:hover:after {
  height: 260%;
  opacity: 1;
}
/* line 507, ../../../src/Asset/sass/theme/main.scss */
.portfolio-wrapper .button:active:after {
  height: 400%;
  opacity: 1;
}

/* ========================================================================
  2.1 Component: Header
 ========================================================================== */
/* line 517, ../../../src/Asset/sass/theme/main.scss */
header {
  position: relative;
}
/* line 519, ../../../src/Asset/sass/theme/main.scss */
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../img/slider-overlay.png) repeat;
}
/* line 527, ../../../src/Asset/sass/theme/main.scss */
header .carousel, header .item, header .active {
  height: 100%;
}

/* line 532, ../../../src/Asset/sass/theme/main.scss */
.carousel-inner {
  min-height: 500px;
  height: 100%;
}

/* line 537, ../../../src/Asset/sass/theme/main.scss */
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* line 548, ../../../src/Asset/sass/theme/main.scss */
.carousel-indicators li {
  width: 40px;
  height: 4px;
  border: none;
  border-radius: 0;
  background: #fff;
}
/* line 555, ../../../src/Asset/sass/theme/main.scss */
.carousel-indicators .active {
  width: 40px;
  height: 5px;
  background: #e74c3c;
}

/* line 562, ../../../src/Asset/sass/theme/main.scss */
.carousel-caption {
  top: 30%;
}
/* line 564, ../../../src/Asset/sass/theme/main.scss */
.carousel-caption h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: normal;
}

/* line 572, ../../../src/Asset/sass/theme/main.scss */
.carousel-control.left, .carousel-control.right {
  background: none;
}

/* line 577, ../../../src/Asset/sass/theme/main.scss */
.icon-prev, .icon-next {
  font-size: 60px !important;
}

/* line 581, ../../../src/Asset/sass/theme/main.scss */
header .logo-container {
  position: absolute;
  top: 52px;
  left: 93px;
  z-index: 10;
}

/* ========================================================================
  2.2 Component: Call To ACTION
 ========================================================================== */
/* line 592, ../../../src/Asset/sass/theme/main.scss */
.call-to-action {
  padding: 15px;
  color: #eeeeee;
  font-size: 18px;
  position: relative;
}
/* line 597, ../../../src/Asset/sass/theme/main.scss */
.call-to-action p {
  margin: 20px;
}

/* ========================================================================
  2.3 Component: About Us
 ========================================================================== */
/* line 606, ../../../src/Asset/sass/theme/main.scss */
.about-us {
  background: url("../img/about-us-bg.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative;
}
/* line 610, ../../../src/Asset/sass/theme/main.scss */
.about-us .overlay {
  background: rgba(238, 238, 238, 0.95);
}
/* line 613, ../../../src/Asset/sass/theme/main.scss */
.about-us .jumbo-text {
  text-transform: uppercase;
  color: #272727;
  font-size: 40px;
}
/* line 618, ../../../src/Asset/sass/theme/main.scss */
.about-us p {
  color: #484848;
  line-height: 24px;
}
/* line 622, ../../../src/Asset/sass/theme/main.scss */
.about-us img {
  margin-top: -50px;
}

/* line 627, ../../../src/Asset/sass/theme/main.scss */
.panel {
  background: none;
  border: none;
  box-shadow: none;
}

/* line 633, ../../../src/Asset/sass/theme/main.scss */
.panel-default > .panel-heading {
  background: #e74c3c;
  color: #f3eff0;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #d7d7d7, -1px -1px 1px #d7d7d7;
}

/* line 641, ../../../src/Asset/sass/theme/main.scss */
.panel-heading {
  padding: 0;
}

/* line 645, ../../../src/Asset/sass/theme/main.scss */
.panel-title > a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px 15px;
}

/* line 652, ../../../src/Asset/sass/theme/main.scss */
.collapsed {
  background: #ededed !important;
  color: #222;
}
/* line 655, ../../../src/Asset/sass/theme/main.scss */
.collapsed strong, .collapsed .state {
  color: #222222;
}

/* line 660, ../../../src/Asset/sass/theme/main.scss */
.state {
  font-size: 18px;
  line-height: 18px;
}

/* ========================================================================
  2.4 Component: Case Study
 ========================================================================== */
/* line 669, ../../../src/Asset/sass/theme/main.scss */
.case-study .col-md-6 {
  padding: 0;
  cursor: pointer;
  color: #fff;
  transition: background .5s;
}

/* line 676, ../../../src/Asset/sass/theme/main.scss */
.case-study-left .overlay {
  padding-left: 200px;
  padding-right: 50px;
  transition: background .5s;
}

/* line 682, ../../../src/Asset/sass/theme/main.scss */
.case-study-right .overlay {
  padding-right: 200px;
  padding-left: 50px;
  transition: background .5s;
}

/* line 689, ../../../src/Asset/sass/theme/main.scss */
.case-study .case-study-left {
  background: url("../img/case-study/bf-left.jpg") no-repeat;
  background-size: cover;
}
/* line 693, ../../../src/Asset/sass/theme/main.scss */
.case-study .case-study-right {
  background: url("../img/case-study/bf-right.jpg") no-repeat;
  background-size: cover;
}
/* line 697, ../../../src/Asset/sass/theme/main.scss */
.case-study .overlay:hover {
  width: 100%;
  background: rgba(231, 76, 60, 0.9);
}
/* line 701, ../../../src/Asset/sass/theme/main.scss */
.case-study h3 {
  text-shadow: 1px 1px 1px #444;
  font-size: 28px;
  font-weight: bold;
}
/* line 706, ../../../src/Asset/sass/theme/main.scss */
.case-study .description {
  font-weight: lighter;
}

/* ========================================================================
  2.5 Component: Why choose us
 ========================================================================== */
/* line 716, ../../../src/Asset/sass/theme/main.scss */
.why-choose-us .icon {
  font-size: 35px;
  height: 80px;
  width: 80px;
  line-height: 80px;
  border: 1px solid #efefef;
  display: inline-block;
  border-radius: 4px;
}
/* line 724, ../../../src/Asset/sass/theme/main.scss */
.why-choose-us .icon i {
  color: #e74c3c;
}
/* line 728, ../../../src/Asset/sass/theme/main.scss */
.why-choose-us h4 {
  margin: 15px 0 20px;
  color: #000;
}
/* line 732, ../../../src/Asset/sass/theme/main.scss */
.why-choose-us p {
  color: #aaaaaa;
}
/* line 735, ../../../src/Asset/sass/theme/main.scss */
.why-choose-us .service {
  padding: 5px;
  margin-bottom: 50px;
  cursor: pointer;
}
/* line 739, ../../../src/Asset/sass/theme/main.scss */
.why-choose-us .service:hover > .icon {
  background: #e74c3c;
  color: #fff;
  transition: all .85s;
}
/* line 743, ../../../src/Asset/sass/theme/main.scss */
.why-choose-us .service:hover > .icon i {
  color: #fff;
  transition: all .85s;
}

/* ========================================================================
  2.6 Component: Our Skills
 ========================================================================== */
/* line 756, ../../../src/Asset/sass/theme/main.scss */
.skill-bar li .wrapper {
  margin-bottom: 30px;
  border-radius: 3px;
  background: #dddddd;
}
/* line 761, ../../../src/Asset/sass/theme/main.scss */
.skill-bar li span {
  height: 25px;
  width: 0px;
  display: block;
  border-radius: 3px;
  overflow: visible !important;
  position: relative;
  background: #e74c3c;
}

/* line 772, ../../../src/Asset/sass/theme/main.scss */
.our-skills .skill-people img {
  height: 300px;
}

/* ========================================================================
  2.7 Component: Processes
 ========================================================================== */
/* line 780, ../../../src/Asset/sass/theme/main.scss */
.processes {
  background: url("../img/process-bg.jpg") no-repeat center fixed;
  background-size: cover;
  color: #fffeff;
}
/* line 784, ../../../src/Asset/sass/theme/main.scss */
.processes .overlay {
  background: rgba(0, 8, 5, 0.85);
}
/* line 787, ../../../src/Asset/sass/theme/main.scss */
.processes .icon-container {
  margin-right: 25px;
  font-size: 24px;
}
/* line 791, ../../../src/Asset/sass/theme/main.scss */
.processes .feature {
  margin: auto;
  padding-left: 37px;
  padding-right: 37px;
  margin-bottom: 45px;
}

/* line 799, ../../../src/Asset/sass/theme/main.scss */
.feature:last-child {
  margin-bottom: 0;
}

/* line 804, ../../../src/Asset/sass/theme/main.scss */
.processes .description {
  width: 90%;
}
/* line 807, ../../../src/Asset/sass/theme/main.scss */
.processes .process-bar {
  height: 125px;
  width: 125px;
  line-height: 125px;
  font-size: 24px;
  display: inline-block;
}
/* line 814, ../../../src/Asset/sass/theme/main.scss */
.processes .discussion {
  border-radius: 3px 3px 0 3px;
}
/* line 817, ../../../src/Asset/sass/theme/main.scss */
.processes .check {
  border-radius: 3px 3px 3px 0;
}
/* line 820, ../../../src/Asset/sass/theme/main.scss */
.processes .idea {
  border-radius: 3px 0 3px 3px;
}
/* line 823, ../../../src/Asset/sass/theme/main.scss */
.processes .office {
  border-radius: 0 3px 3px 3px;
}
/* line 827, ../../../src/Asset/sass/theme/main.scss */
.processes .process-bar.main-bg {
  margin-right: 100px;
}
/* line 830, ../../../src/Asset/sass/theme/main.scss */
.processes .process-bar.right {
  border: 3px solid #e74c3c;
}
/* line 834, ../../../src/Asset/sass/theme/main.scss */
.processes .lines {
  height: 55px;
  width: 110px;
  margin: -3px auto -3px;
  border-right: 3px solid #e74c3c;
  border-left: 3px solid #e74c3c;
  border-bottom: 3px solid #e74c3c;
}

/* ========================================================================
  2.8 Component: Our Team
 ========================================================================== */
/* line 848, ../../../src/Asset/sass/theme/main.scss */
.our-team {
  background: #eee;
}
/* line 850, ../../../src/Asset/sass/theme/main.scss */
.our-team .team-member {
  border: 1px solid #e74c3c;
  width: 220px;
  height: 300px;
  overflow: hidden;
}
/* line 855, ../../../src/Asset/sass/theme/main.scss */
.our-team .team-member:hover > .team-overlay {
  margin-top: -297px;
  transition: all .85s;
}
/* line 860, ../../../src/Asset/sass/theme/main.scss */
.our-team img {
  width: 100%;
}
/* line 863, ../../../src/Asset/sass/theme/main.scss */
.our-team .team-overlay {
  margin-top: 0px;
  width: 220px;
  color: #fff;
  margin-left: -2px;
  position: relative;
  cursor: pointer;
}
/* line 870, ../../../src/Asset/sass/theme/main.scss */
.our-team .team-overlay .info {
  height: 240px;
  padding: 100px 20px 20px 20px;
  background: rgba(231, 76, 60, 0.9);
}
/* line 875, ../../../src/Asset/sass/theme/main.scss */
.our-team .team-overlay .learn-more {
  height: 60px;
  line-height: 60px;
  width: 100%;
  text-align: center;
  background: #c0392b;
  position: relative;
}
/* line 884, ../../../src/Asset/sass/theme/main.scss */
.our-team .description {
  padding: 40px 0;
}
/* line 886, ../../../src/Asset/sass/theme/main.scss */
.our-team .description h3 {
  text-transform: uppercase;
}
/* line 889, ../../../src/Asset/sass/theme/main.scss */
.our-team .description .about {
  font-size: 14px;
  color: #555;
}
/* line 893, ../../../src/Asset/sass/theme/main.scss */
.our-team .description .member-skill {
  display: inline-block;
}

/* ========================================================================
  2.9 Component: Testimonail
 ========================================================================== */
/* line 903, ../../../src/Asset/sass/theme/main.scss */
.testimonial {
  background: url(../img/testimonial-bg.png);
}

/* line 907, ../../../src/Asset/sass/theme/main.scss */
.testimonial-carousel .item {
  padding: 25px 40px 40px;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 4px;
}
/* line 911, ../../../src/Asset/sass/theme/main.scss */
.testimonial-carousel .item p {
  font-style: italic;
  font-size: 24px;
}
/* line 916, ../../../src/Asset/sass/theme/main.scss */
.testimonial-carousel .item .client img, .testimonial-carousel .item .client ul {
  display: inline-block;
  vertical-align: middle;
}
/* line 920, ../../../src/Asset/sass/theme/main.scss */
.testimonial-carousel .item .client img {
  height: 50px;
  width: 50px;
  max-width: 100%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
/* line 928, ../../../src/Asset/sass/theme/main.scss */
.testimonial-carousel .item .client-info {
  margin-left: 10px;
}
/* line 930, ../../../src/Asset/sass/theme/main.scss */
.testimonial-carousel .item .client-info li {
  text-align: left;
}
/* line 932, ../../../src/Asset/sass/theme/main.scss */
.testimonial-carousel .item .client-info li:first-child {
  font-size: 18px;
}

/* line 940, ../../../src/Asset/sass/theme/main.scss */
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #e74c3c;
}

/* ========================================================================
  2.10 Component: Portfolio
 ========================================================================== */
/* line 950, ../../../src/Asset/sass/theme/main.scss */
.portfolio .line {
  margin: 15px auto 45px;
}
/* line 953, ../../../src/Asset/sass/theme/main.scss */
.portfolio .subtitle {
  font-size: 20px;
}
/* line 956, ../../../src/Asset/sass/theme/main.scss */
.portfolio p {
  color: #6b6b6b;
  font-size: 14px;
  margin-top: 10px;
}
/* line 961, ../../../src/Asset/sass/theme/main.scss */
.portfolio .filters {
  color: #9e9e9e;
}
/* line 963, ../../../src/Asset/sass/theme/main.scss */
.portfolio .filters li {
  display: inline;
}
/* line 965, ../../../src/Asset/sass/theme/main.scss */
.portfolio .filters li a {
  margin: 0 5px;
  color: #9e9e9e;
}
/* line 970, ../../../src/Asset/sass/theme/main.scss */
.portfolio .filters .active {
  color: #e74c3c;
  text-decoration: none;
}
/* line 975, ../../../src/Asset/sass/theme/main.scss */
.portfolio .portfolio-item {
  width: 25%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
/* line 980, ../../../src/Asset/sass/theme/main.scss */
.portfolio .portfolio-item a {
  position: relative;
  display: block;
  color: #fff;
}
/* line 984, ../../../src/Asset/sass/theme/main.scss */
.portfolio .portfolio-item a .portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 4;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  padding: 125px 20px;
}
/* line 996, ../../../src/Asset/sass/theme/main.scss */
.portfolio .portfolio-item a img {
  width: 100%;
  transition: all 1.2s linear;
}
/* line 1001, ../../../src/Asset/sass/theme/main.scss */
.portfolio .portfolio-item a:hover > .portfolio-overlay {
  opacity: 1;
}
/* line 1004, ../../../src/Asset/sass/theme/main.scss */
.portfolio .portfolio-item a:hover > img {
  transform: scale(1.2);
}
/* line 1010, ../../../src/Asset/sass/theme/main.scss */
.portfolio > .button {
  border-color: #333;
  font-weight: normal;
  color: #333;
  position: relative;
  z-index: 10;
}
/* line 1016, ../../../src/Asset/sass/theme/main.scss */
.portfolio > .button i {
  font-size: 22px;
}

/* line 1023, ../../../src/Asset/sass/theme/main.scss */
.filters li a:after {
  content: "/";
  margin-left: 10px;
  color: #9e9e9e;
}
/* line 1028, ../../../src/Asset/sass/theme/main.scss */
.filters li:last-child > a:after {
  content: "";
}

/* ========================================================================
  2.11 Component: Promote
 ========================================================================== */
/* line 1037, ../../../src/Asset/sass/theme/main.scss */
.promote {
  padding: 25px;
  color: #eeeeee;
  font-size: 18px;
  position: relative;
}
/* line 1042, ../../../src/Asset/sass/theme/main.scss */
.promote p {
  margin: 20px;
}
/* line 1045, ../../../src/Asset/sass/theme/main.scss */
.promote .button {
  display: inline-block;
}
/* line 1048, ../../../src/Asset/sass/theme/main.scss */
.promote .deep {
  background: #c0392b;
}

/* ========================================================================
  2.12 Component: We are hiring
 ========================================================================== */
/* line 1057, ../../../src/Asset/sass/theme/main.scss */
.we-are-hiring {
  background: #f4f4f4;
  border-top: 1px solid #e5e5e5;
}
/* line 1060, ../../../src/Asset/sass/theme/main.scss */
.we-are-hiring h2 {
  color: #3a3a3a;
  font-size: 36px;
}
/* line 1064, ../../../src/Asset/sass/theme/main.scss */
.we-are-hiring p {
  color: #666666;
  font-size: 16px;
  line-height: 28px;
}
/* line 1069, ../../../src/Asset/sass/theme/main.scss */
.we-are-hiring .upload-cv {
  background: #fff;
  height: 300px;
  width: 300px;
  margin: 20px auto 0;
  padding: 15px;
  border: 1px solid #dbd8d8;
}
/* line 1076, ../../../src/Asset/sass/theme/main.scss */
.we-are-hiring .upload-cv .inner {
  padding: 65px;
  border: 2px dashed #dbd8d8;
  color: #666666;
}
/* line 1082, ../../../src/Asset/sass/theme/main.scss */
.we-are-hiring .inner i {
  font-size: 80px;
}

/* ========================================================================
  2.13 Component: Twitter
 ========================================================================== */
/* line 1091, ../../../src/Asset/sass/theme/main.scss */
.twitter {
  background: url("../img/twitter-bg.jpg") no-repeat center top fixed;
  background-size: cover;
  color: #fff;
}
/* line 1095, ../../../src/Asset/sass/theme/main.scss */
.twitter .overlay {
  background: rgba(27, 28, 29, 0.9);
}
/* line 1098, ../../../src/Asset/sass/theme/main.scss */
.twitter .icon {
  font-size: 120px;
}
/* line 1100, ../../../src/Asset/sass/theme/main.scss */
.twitter .icon i {
  transition: 1.2s;
  cursor: pointer;
}
/* line 1103, ../../../src/Asset/sass/theme/main.scss */
.twitter .icon i:hover {
  -webkit-transform: rotate(360deg) scale(1.2);
  -moz-transform: rotate(360deg) scale(1.2);
  -o-transform: rotate(360deg) scale(1.2);
  transform: rotate(360deg) scale(1.2);
  color: #00aced;
}
/* line 1112, ../../../src/Asset/sass/theme/main.scss */
.twitter .tweet-text {
  font-size: 16px;
  line-height: 1.5em;
}

/* ========================================================================
  2.14 Component: Map
 ========================================================================== */
/* line 1122, ../../../src/Asset/sass/theme/main.scss */
#map-container {
  height: 500px;
  width: 100%;
}

/* ========================================================================
  2.15 Component: Send Message
 ========================================================================== */
/* line 1131, ../../../src/Asset/sass/theme/main.scss */
.send-message {
  padding: 20px;
}
/* line 1133, ../../../src/Asset/sass/theme/main.scss */
.send-message .send-icon {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  background: #e74c3c;
  border-radius: 50%;
  line-height: 60px;
  margin-top: -60px;
  font-size: 20px;
  position: relative;
}
/* line 1144, ../../../src/Asset/sass/theme/main.scss */
.send-message p {
  font-size: 30px;
}
/* line 1147, ../../../src/Asset/sass/theme/main.scss */
.send-message:hover {
  cursor: pointer;
}
/* line 1150, ../../../src/Asset/sass/theme/main.scss */
.send-message .modal-lg {
  width: 700px;
}

/* line 1156, ../../../src/Asset/sass/theme/main.scss */
.modal .modal-content {
  box-shadow: none;
  border-radius: 0;
  border: 0;
  position: relative;
}
/* line 1162, ../../../src/Asset/sass/theme/main.scss */
.modal .close {
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: #333;
  opacity: 1;
  height: 40px;
  width: 40px;
  color: #FFF;
  font-size: 28px;
  line-height: 45px;
  outline: none;
  z-index: 10;
}
/* line 1176, ../../../src/Asset/sass/theme/main.scss */
.modal .close span {
  outline: none;
}
/* line 1180, ../../../src/Asset/sass/theme/main.scss */
.modal .modal-body {
  padding: 40px 60px;
}
/* line 1183, ../../../src/Asset/sass/theme/main.scss */
.modal .member-info {
  padding: 0;
}
/* line 1186, ../../../src/Asset/sass/theme/main.scss */
.modal input {
  height: 50px;
  padding: 10px 20px;
  border-radius: 0;
  font-size: 18px;
}
/* line 1192, ../../../src/Asset/sass/theme/main.scss */
.modal textarea {
  padding: 10px 20px;
  border-radius: 0;
  font-size: 18px;
}
/* line 1197, ../../../src/Asset/sass/theme/main.scss */
.modal input:focus {
  border-color: #e74c3c;
  box-shadow: none;
}
/* line 1201, ../../../src/Asset/sass/theme/main.scss */
.modal textarea {
  resize: none;
}
/* line 1202, ../../../src/Asset/sass/theme/main.scss */
.modal textarea:focus {
  border-color: #e74c3c;
  box-shadow: none;
}
/* line 1208, ../../../src/Asset/sass/theme/main.scss */
.modal .button {
  width: 100%;
  border-radius: 0;
  padding: 15px 60px;
}

/* line 1215, ../../../src/Asset/sass/theme/main.scss */
.form-control::-webkit-input-placeholder {
  color: #DBDBDB;
  font-style: italic;
}

/* ========================================================================
  2.16 Component: Footer
 ========================================================================== */
/* line 1225, ../../../src/Asset/sass/theme/main.scss */
.footer p {
  color: #bababa;
  font-size: 16px;
}
/* line 1229, ../../../src/Asset/sass/theme/main.scss */
.footer li {
  display: inline-block;
  margin: 0 5px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
  background: #fff;
  transition: all .4s;
}
/* line 1239, ../../../src/Asset/sass/theme/main.scss */
.footer li:hover {
  cursor: pointer;
}
/* line 1242, ../../../src/Asset/sass/theme/main.scss */
.footer li a {
  color: #e5e5e5;
}
/* line 1246, ../../../src/Asset/sass/theme/main.scss */
.footer .social i {
  font-size: 22px;
  transition: all .4s;
}
/* line 1250, ../../../src/Asset/sass/theme/main.scss */
.footer .facebook:hover {
  border-color: #3b5998;
}
/* line 1252, ../../../src/Asset/sass/theme/main.scss */
.footer .facebook:hover > a i {
  color: #3b5998;
}
/* line 1256, ../../../src/Asset/sass/theme/main.scss */
.footer .twitter:hover {
  border-color: #00aced;
}
/* line 1258, ../../../src/Asset/sass/theme/main.scss */
.footer .twitter:hover > a i {
  color: #00aced;
}
/* line 1262, ../../../src/Asset/sass/theme/main.scss */
.footer .g-plus:hover {
  border-color: #dd4b39;
}
/* line 1264, ../../../src/Asset/sass/theme/main.scss */
.footer .g-plus:hover > a i {
  color: #dd4b39;
}
/* line 1268, ../../../src/Asset/sass/theme/main.scss */
.footer .linkedin:hover {
  border-color: #007bb6;
}
/* line 1270, ../../../src/Asset/sass/theme/main.scss */
.footer .linkedin:hover > a i {
  color: #007bb6;
}
/* line 1274, ../../../src/Asset/sass/theme/main.scss */
.footer .youtube:hover {
  border-color: #bb0000;
}
/* line 1276, ../../../src/Asset/sass/theme/main.scss */
.footer .youtube:hover > a i {
  color: #bb0000;
}
/* line 1280, ../../../src/Asset/sass/theme/main.scss */
.footer .instagram:hover {
  border-color: #517fa4;
}
/* line 1282, ../../../src/Asset/sass/theme/main.scss */
.footer .instagram:hover > a i {
  color: #517fa4;
}
/* line 1286, ../../../src/Asset/sass/theme/main.scss */
.footer .behance:hover {
  border-color: #1769ff;
}
/* line 1288, ../../../src/Asset/sass/theme/main.scss */
.footer .behance:hover > a i {
  color: #1769ff;
}
/* line 1292, ../../../src/Asset/sass/theme/main.scss */
.footer .dribbble:hover {
  border-color: #ea4c89;
}
/* line 1294, ../../../src/Asset/sass/theme/main.scss */
.footer .dribbble:hover > a i {
  color: #ea4c89;
}

/* line 1300, ../../../src/Asset/sass/theme/main.scss */
.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  background: #e74c3c;
  cursor: pointer;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  -webkit-animation: pulse 1s linear 0s infinite alternate;
  -moz-animation: pulse 1s linear 0s infinite alternate;
  -o-animation: pulse 1s linear 0s infinite alternate;
  animation: pulse 1s linear 0s infinite alternate;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
  }
  to {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }
}
@-moz-keyframes pulse {
  from {
    -moz-transform: scale3d(1, 1, 1);
  }
  to {
    -moz-transform: scale3d(1.1, 1.1, 1.1);
  }
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
