/* ========================================================================
   Component: Responsive Fix
 ========================================================================== */
/* Desktops and laptops ----------- */
@media only screen and (max-width: 1200px) {
  /* line 6, ../../../src/Asset/sass/theme/responsive.scss */
  .menu-trigger {
    right: 80px;
  }

  /* line 9, ../../../src/Asset/sass/theme/responsive.scss */
  header .logo-container {
    left: 71px;
  }

  /* line 12, ../../../src/Asset/sass/theme/responsive.scss */
  .processes .icon-container {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 18, ../../../src/Asset/sass/theme/responsive.scss */
  .button {
    padding: 20px 45px;
  }
  /* line 20, ../../../src/Asset/sass/theme/responsive.scss */
  .button.light {
    padding: 18px 40px;
  }

  /* line 24, ../../../src/Asset/sass/theme/responsive.scss */
  .case-study-left .overlay {
    padding-left: 100px;
  }

  /* line 27, ../../../src/Asset/sass/theme/responsive.scss */
  .case-study-right .overlay {
    padding-right: 100px;
  }

  /* line 30, ../../../src/Asset/sass/theme/responsive.scss */
  .button-container {
    margin-top: 15px;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (max-width: 992px) {
  /* line 37, ../../../src/Asset/sass/theme/responsive.scss */
  .menu-trigger {
    right: 65px;
  }

  /* line 40, ../../../src/Asset/sass/theme/responsive.scss */
  header .logo-container {
    left: 55px;
  }

  /* line 43, ../../../src/Asset/sass/theme/responsive.scss */
  .about-us img {
    margin-top: 50px;
  }

  /* line 46, ../../../src/Asset/sass/theme/responsive.scss */
  .process-interactive {
    margin-bottom: 90px;
  }
}
/*Tablet Pottrait size to standerd 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 53, ../../../src/Asset/sass/theme/responsive.scss */
  .button {
    padding: 20px 24px;
  }
  /* line 55, ../../../src/Asset/sass/theme/responsive.scss */
  .button.light {
    padding: 18px 24px;
  }

  /* line 59, ../../../src/Asset/sass/theme/responsive.scss */
  .we-are-hiring .upload-cv {
    margin-top: 135px;
  }
}
/* All Mobile Sizes (devices and browers) */
@media only screen and (max-width: 767px) {
  /* line 66, ../../../src/Asset/sass/theme/responsive.scss */
  header .logo-container {
    left: 35px;
  }

  /* line 69, ../../../src/Asset/sass/theme/responsive.scss */
  .call-button .button {
    float: none !important;
    margin-bottom: 20px;
  }

  /* line 73, ../../../src/Asset/sass/theme/responsive.scss */
  .call-to-action {
    text-align: center;
  }
  /* line 75, ../../../src/Asset/sass/theme/responsive.scss */
  .call-to-action .button {
    float: none !important;
  }

  /* line 79, ../../../src/Asset/sass/theme/responsive.scss */
  .button-container {
    text-align: center;
  }

  /* line 82, ../../../src/Asset/sass/theme/responsive.scss */
  .our-team .description {
    padding: 40px 10px;
  }
  /* line 84, ../../../src/Asset/sass/theme/responsive.scss */
  .our-team .description .member-skill {
    margin: 10px 0;
  }

  /* line 88, ../../../src/Asset/sass/theme/responsive.scss */
  .send-message .modal-lg {
    width: auto;
  }
}
@media only screen and (max-height: 600px) {
  /* line 94, ../../../src/Asset/sass/theme/responsive.scss */
  .mobilenav li {
    font-size: 120%;
  }

  /* line 97, ../../../src/Asset/sass/theme/responsive.scss */
  .portfolio .portfolio-item a .portfolio-overlay {
    padding: 200px 20px;
  }
}
/*Mobile Landscape Size to Tablet Portrait  (devices and browers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 104, ../../../src/Asset/sass/theme/responsive.scss */
  .menu-trigger {
    right: 45px;
  }

  /* line 107, ../../../src/Asset/sass/theme/responsive.scss */
  .carousel-caption {
    top: 30%;
  }
  /* line 109, ../../../src/Asset/sass/theme/responsive.scss */
  .carousel-caption h1 {
    font-size: 42px;
  }
}
/* Mobile Portrait SIze to Mobbile Landsscape Size (devices and browers) */
@media only screen and (max-width: 479px) {
  /* line 117, ../../../src/Asset/sass/theme/responsive.scss */
  h2 {
    text-align: center;
  }

  /* line 120, ../../../src/Asset/sass/theme/responsive.scss */
  .line {
    margin-left: auto;
    margin-right: auto;
  }

  /* line 124, ../../../src/Asset/sass/theme/responsive.scss */
  .menu-trigger {
    right: 20px;
    top: 20px;
  }

  /* line 128, ../../../src/Asset/sass/theme/responsive.scss */
  header .logo-container {
    left: 29%;
    top: 33px;
  }

  /* line 132, ../../../src/Asset/sass/theme/responsive.scss */
  .carousel-indicators li {
    width: 30px;
  }

  /* line 135, ../../../src/Asset/sass/theme/responsive.scss */
  .carousel-caption {
    top: 30%;
  }
  /* line 137, ../../../src/Asset/sass/theme/responsive.scss */
  .carousel-caption h1 {
    font-size: 36px;
  }

  /* line 141, ../../../src/Asset/sass/theme/responsive.scss */
  .button-container {
    margin-top: 25px;
  }

  /* line 144, ../../../src/Asset/sass/theme/responsive.scss */
  .about-us .jumbo-text {
    font-size: 32px;
  }

  /* line 148, ../../../src/Asset/sass/theme/responsive.scss */
  .processes .process-bar.main-bg {
    margin-right: 40px;
  }
  /* line 151, ../../../src/Asset/sass/theme/responsive.scss */
  .processes .lines {
    width: 50px;
  }
  /* line 154, ../../../src/Asset/sass/theme/responsive.scss */
  .processes .icon-container {
    margin-right: 0;
  }
  /* line 157, ../../../src/Asset/sass/theme/responsive.scss */
  .processes .description {
    width: 85%;
  }

  /* line 162, ../../../src/Asset/sass/theme/responsive.scss */
  .promote span {
    display: block;
    margin: 10px;
  }
  /* line 166, ../../../src/Asset/sass/theme/responsive.scss */
  .promote .button.light {
    margin-bottom: 20px;
  }

  /* line 170, ../../../src/Asset/sass/theme/responsive.scss */
  .footer li {
    margin: 0 5px 10px 0;
  }
}
@media only screen and (max-width: 360px) {
  /* line 176, ../../../src/Asset/sass/theme/responsive.scss */
  header .logo-container {
    left: 20%;
  }

  /* line 179, ../../../src/Asset/sass/theme/responsive.scss */
  .nav-label {
    width: auto;
  }

  /* line 182, ../../../src/Asset/sass/theme/responsive.scss */
  .processes .process-bar {
    height: 100px;
    width: 100px;
    line-height: 100px;
  }

  /* line 187, ../../../src/Asset/sass/theme/responsive.scss */
  .we-are-hiring .upload-cv {
    height: 260px;
    width: 260px;
  }
  /* line 190, ../../../src/Asset/sass/theme/responsive.scss */
  .we-are-hiring .upload-cv .inner {
    padding: 45px;
  }

  /* line 195, ../../../src/Asset/sass/theme/responsive.scss */
  .modal .close {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
  /* line 200, ../../../src/Asset/sass/theme/responsive.scss */
  .modal .modal-body {
    padding: 40px 20px;
  }
}
