/* ========================================================================
   Component: Typography
 ========================================================================== */
/*@font-face {
  font-family: 'Campton Bold';
  src: url('../fonts/campton/Campton-BoldDEMO.otf');
}


@font-face {
  font-family: 'Campton Light';
  src: url('../fonts/campton/Campton-LightDEMO.otf');
}*/
/* line 16, ../../../src/Asset/sass/theme/typography.scss */
html {
  font-family: 'Open Sans', sans-serif;
}

/* line 20, ../../../src/Asset/sass/theme/typography.scss */
body {
  font-size: 16px;
}

/* line 24, ../../../src/Asset/sass/theme/typography.scss */
h2, h3, h4, h5, h6, .bold-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

/* line 29, ../../../src/Asset/sass/theme/typography.scss */
h1, .light-text {
  font-family: 'Quicksand', sans-serif;
}

/* line 33, ../../../src/Asset/sass/theme/typography.scss */
header p {
  font-size: 18px;
}

/* Icon Font
 ========================================================================== */
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticons/flaticon.eot");
  src: url("../fonts/flaticons/flaticon.eot") format("embedded-opentype"), url("../fonts/flaticons/flaticon.woff") format("woff"), url("../fonts/flaticons/flaticon.ttf") format("truetype"), url("../fonts/flaticons/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 48, ../../../src/Asset/sass/theme/typography.scss */
[class^="icon-"]:before, [class*="icon-"]:before, [class^="icon-"]:after, [class*="icon-"]:after {
  display: inline-block;
  font: normal normal normal 14px/1 Flaticon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 57, ../../../src/Asset/sass/theme/typography.scss */
.icon-add-user:before {
  content: "\e000";
}

/* line 61, ../../../src/Asset/sass/theme/typography.scss */
.icon-discussion:before {
  content: "\e001";
}

/* line 65, ../../../src/Asset/sass/theme/typography.scss */
.icon-check:before {
  content: "\e00c";
}

/* line 69, ../../../src/Asset/sass/theme/typography.scss */
.icon-code:before {
  content: "\e002";
}

/* line 73, ../../../src/Asset/sass/theme/typography.scss */
.icon-heart:before {
  content: "\e007";
}

/* line 77, ../../../src/Asset/sass/theme/typography.scss */
.icon-idea:before {
  content: "\e003";
}

/* line 81, ../../../src/Asset/sass/theme/typography.scss */
.icon-mobile:before {
  content: "\e004";
}

/* line 85, ../../../src/Asset/sass/theme/typography.scss */
.icon-arrow-left:before {
  content: "\e007";
}

/* line 89, ../../../src/Asset/sass/theme/typography.scss */
.icon-office:before {
  content: "\e009";
}

/* line 93, ../../../src/Asset/sass/theme/typography.scss */
.icon-reload:before, .icon-arrow-right:before {
  content: "\e00a";
}

/* line 97, ../../../src/Asset/sass/theme/typography.scss */
.icon-web-browser:before {
  content: "\e002";
}

/* line 101, ../../../src/Asset/sass/theme/typography.scss */
.icon-grid:before {
  content: "\e005";
}

/* line 105, ../../../src/Asset/sass/theme/typography.scss */
.icon-up:before {
  content: "\e00d";
}
