<!-- =========================
   Our Team
============================== -->
<section id="bureau" class="our-team">
    <div class="container padding-top-large">
        <h2 class="wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".5s">
            Notre <span class="light-text main-color">Bureau</span>
        </h2>
        <div class="line main-bg margin-bottom-medium"></div>

        <p class="margin-bottom-medium wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        </p>
        <div class="row">

            <?php foreach ($board_members as $board_member) : ?>

            <!-- ***** Team member 1 section ***** -->
            <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-large">

                <!-- ***** Team member-<?= $board_member->id ?> ***** -->
                <div class="team-member center-block wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1s" data-toggle="modal" data-target="#team-member-<?= $board_member->id ?>">
                    <img src="img/team/team-member-<?= $board_member->id ?>.jpg" class="img-responsive" alt="<?= $board_member->name ?>">
                    <div class="team-overlay text-center">
                        <div class="info">
                            <h3><strong><?= $board_member->name ?></strong></h3>
                            <p><?= $board_roles[$board_member->board_role] ?></p>
                        </div>
                        <div class="learn-more">
                            <strong><?= $board_member->mobile ?></strong>
                        </div>
                    </div>
                </div>
                <!-- *** end Team member-<?= $board_member->id ?> *** -->

                <!-- Team Member-<?= $board_member->id ?> Modal -->
                <div class="modal fade contact-form" id="team-member-<?= $board_member->id ?>" tabindex="-1" role="dialog" aria-labelledby="team-member-<?= $board_member->id ?>" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="modal-body member-info">
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <figure>
                                            <img src="img/team/big/team-member-1.jpg" alt="Jack Smith">
                                        </figure>
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <div class="description">
                                            <h3><strong class="bold-text">Jack Smith</strong></h3>
                                            <div class="light-text">CEO/Founder</div>
                                            <div class="about margin-top-medium">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat.</p>
                                                <p>
                                                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                </p>
                                            </div>
                                            <div class="member-skills">
                                                <div id="skill-1" class="member-skill" data-dimension="100" data-text="PHP" data-width="10" data-fontsize="16" data-percent="35" data-fgcolor="#e74c3c" data-bgcolor="#eee"></div>
                                                <div id="skill-2" class="member-skill" data-dimension="100" data-text="Python" data-width="10" data-fontsize="16" data-percent="70" data-fgcolor="#e74c3c" data-bgcolor="#eee"></div>
                                                <div id="skill-3" class="member-skill" data-dimension="100" data-text="Laravel" data-width="10" data-fontsize="16" data-percent="80" data-fgcolor="#e74c3c" data-bgcolor="#eee"></div>
                                                <div id="skill-4" class="member-skill" data-dimension="100" data-text="WP" data-width="10" data-fontsize="16" data-percent="60" data-fgcolor="#e74c3c" data-bgcolor="#eee"></div>
                                            </div>
                                        </div>
                                        <!-- *** end description *** -->
                                    </div>
                                    <!-- *** end col-md-7 *** -->
                                </div>
                                <!-- *** end row *** -->
                            </div>
                            <!-- *** end modal-body *** -->
                        </div>
                        <!-- *** end modal-content *** -->
                    </div>
                    <!-- *** end modal-dialog *** -->
                </div>
                <!-- *** end Contact Form modal *** -->
            </div>
            <!-- *** end Team member <?= $board_member->id ?> section *** -->

            <?php endforeach; ?>

        </div>
    </div>
</section> <!-- *** end Our Team *** -->
